*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#062742;

display:flex;

justify-content:center;

align-items:center;

height:100vh;
width:98%;
margin:auto;

}

.container{

background:white;

padding:40px;

width:420px;

border-radius:12px;

}

h1{

text-align:center;

margin-bottom:25px;

}

input{

width:100%;

padding:15px;

margin:12px 0;

font-size:16px;

}

button{

width:100%;

padding:15px;

margin-top:15px;

background:#0b7dda;

border:none;

color:white;

font-size:17px;

cursor:pointer;

border-radius:8px;

}

button:hover{

background:#095ca3;

}